:root[data-theme="academy"] {
  --font-family-primary: "Space Grotesk", sans-serif;
  --font-family-alt: "Geist Mono", sans-serif;

  --color-primary: #04b870;
  --color-secondary: #3161b5;
  --color-accent: #3ea9b5;
  --color-dark: #293747;
  --color-light: #f2f2f2;

  --color-background: var(--color-light);
  --color-surface: #ffffff;
  --color-text: var(--color-dark);
  --color-text-inverse: var(--color-light);
  --color-accent: var(--color-secondary);
  --color-border: color-mix(in srgb, var(--color-dark) 18%, transparent);
}
