@font-face {
  font-family: "Geist Mono";
  src:
    url("Geist_Mono/GeistMono-Thin.woff2") format("woff2"),
    url("Geist_Mono/GeistMono-Thin.woff") format("woff"),
    url("Geist_Mono/GeistMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src:
    url("Geist_Mono/GeistMono-ExtraLight.woff2") format("woff2"),
    url("Geist_Mono/GeistMono-ExtraLight.woff") format("woff"),
    url("Geist_Mono/GeistMono-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src:
    url("Geist_Mono/GeistMono-Light.woff2") format("woff2"),
    url("Geist_Mono/GeistMono-Light.woff") format("woff"),
    url("Geist_Mono/GeistMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src:
    url("Geist_Mono/GeistMono-Regular.woff2") format("woff2"),
    url("Geist_Mono/GeistMono-Regular.woff") format("woff"),
    url("Geist_Mono/GeistMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src:
    url("Geist_Mono/GeistMono-Medium.woff2") format("woff2"),
    url("Geist_Mono/GeistMono-Medium.woff") format("woff"),
    url("Geist_Mono/GeistMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src:
    url("Geist_Mono/GeistMono-SemiBold.woff2") format("woff2"),
    url("Geist_Mono/GeistMono-SemiBold.woff") format("woff"),
    url("Geist_Mono/GeistMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src:
    url("Geist_Mono/GeistMono-Bold.woff2") format("woff2"),
    url("Geist_Mono/GeistMono-Bold.woff") format("woff"),
    url("Geist_Mono/GeistMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src:
    url("Geist_Mono/GeistMono-ExtraBold.woff2") format("woff2"),
    url("Geist_Mono/GeistMono-ExtraBold.woff") format("woff"),
    url("Geist_Mono/GeistMono-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src:
    url("Geist_Mono/GeistMono-Black.woff2") format("woff2"),
    url("Geist_Mono/GeistMono-Black.woff") format("woff"),
    url("Geist_Mono/GeistMono-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono Variable";
  src: url("Geist_Mono/GeistMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("DM_Sans/DMSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 9pt";
  src:
    url("DM_Sans/DMSans-9ptRegular.woff2") format("woff2"),
    url("DM_Sans/DMSans-9ptRegular.woff") format("woff"),
    url("DM_Sans/DMSans-9ptRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 9pt";
  src:
    url("DM_Sans/DMSans-9ptItalic.woff2") format("woff2"),
    url("DM_Sans/DMSans-9ptItalic.woff") format("woff"),
    url("DM_Sans/DMSans-9ptItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-Thin.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-Thin.woff") format("woff"),
    url("DM_Sans/DMSans18pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-ExtraLight.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-ExtraLight.woff") format("woff"),
    url("DM_Sans/DMSans18pt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-Light.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-Light.woff") format("woff"),
    url("DM_Sans/DMSans18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-Regular.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-Regular.woff") format("woff"),
    url("DM_Sans/DMSans18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-Medium.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-Medium.woff") format("woff"),
    url("DM_Sans/DMSans18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-SemiBold.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-SemiBold.woff") format("woff"),
    url("DM_Sans/DMSans18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-Bold.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-Bold.woff") format("woff"),
    url("DM_Sans/DMSans18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-ExtraBold.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-ExtraBold.woff") format("woff"),
    url("DM_Sans/DMSans18pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-Black.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-Black.woff") format("woff"),
    url("DM_Sans/DMSans_18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-ThinItalic.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-ThinItalic.woff") format("woff"),
    url("DM_Sans/DMSans18pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-ExtraLightItalic.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-ExtraLightItalic.woff") format("woff"),
    url("DM_Sans/DMSans18pt-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-LightItalic.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-LightItalic.woff") format("woff"),
    url("DM_Sans/DMSans18pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-Italic.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-Italic.woff") format("woff"),
    url("DM_Sans/DMSans18pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-MediumItalic.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-MediumItalic.woff") format("woff"),
    url("DM_Sans/DMSans18pt-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-SemiBoldItalic.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-SemiBoldItalic.woff") format("woff"),
    url("DM_Sans/DMSans18pt-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-BoldItalic.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-BoldItalic.woff") format("woff"),
    url("DM_Sans/DMSans18pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-ExtraBoldItalic.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-ExtraBoldItalic.woff") format("woff"),
    url("DM_Sans/DMSans18pt-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 18pt";
  src:
    url("DM_Sans/DMSans18pt-BlackItalic.woff2") format("woff2"),
    url("DM_Sans/DMSans18pt-BlackItalic.woff") format("woff"),
    url("DM_Sans/DMSans18pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 24pt";
  src: url("DM_Sans/DMSans_24pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("DM_Sans/DMSans_36pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans Variable";
  src: url("DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans Variable";
  src: url("DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
